@theme {
  --color-primary: #222831;
  --color-secondary: #A3C585;
  --color-accent: #E5E7EB;
  --color-danger: #EF4444;
  --color-neutralbg: #F9FAFB;
  --color-border: #E5E7EB;
  --color-surface: #2D343F;
  --color-brand: #3A5A2D;
  --color-gold: #E1B145;
}